@font-face {
  font-family: 'type-writer';
  src: url(../../font/Momоt___.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --baseFonts: "Courier New", Courier, monospace, sans-serif;
}

body {
  font-family: var(--baseFonts);
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  min-width: 652px;
  height: 100vh;
  min-height: 948px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 20px;
  background-color: #CCD5AE;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}

header.main label
button#addBook {
  appearance: none;
  color: white;
  background-color: #d48434;
  border: 3px solid;
  border-color: #eedeb5 #e6be96 #e6be96 #eedeb5;
  padding: 5px 15px;
  font-size: 2.5rem;
  border-radius: 50%;
}

header.main label
button#addBook:hover {
  text-shadow: 1px 1px 10px white;
}

header.main label
button#addBook:active {
  border-color: #e6be96 #eedeb5 #eedeb5 #e6be96;
}

main#shelve {
  height: auto;
  background-color: #E9EDC9;
  padding: 36px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}

body
section.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

section.form-container
form#book-form {
  background-color: #FAEDCD;
  border-radius: 8px;
  border: 3px solid #D4A373;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

form#book-form
button#close-form {
  margin-left: auto;
  margin-right: 0;
  appearance: none;
  color: white;
  background-color: #d48434;
  border: 3px solid;
  border-color: #eedeb5 #e6be96 #e6be96 #eedeb5;
  border-radius: 50%;
  padding: 2px 4px;
}

form#book-form
button#close-form:hover {
  text-shadow: 1px 1px 10px rgb(251, 255, 0);
}

form#book-form
button#close-form:active {
  border-color: #e6be96 #eedeb5 #eedeb5 #e6be96;
}

form#book-form 
fieldset {
  display: grid;
  padding: 14px;
  border-radius: 8px;
}

form#book-form 
fieldset label:nth-of-type(1n+2) {
  margin-top: 12px;
}

form#book-form fieldset
ul#status {
  list-style: none;
  display: flex;
  gap: 18px;
  margin-top: 6px;
}

form#book-form 
fieldset
textarea {
  resize: none;
  overflow: auto;
  padding: 6px 6px;
}

form#book-form 
fieldset button#submit {
  appearance: none;
  border: 3px solid;
  border-color: #eedeb5 #e6be96 #e6be96 #eedeb5;
  border-radius: 8px;
  background-color: #d48434;
  padding: 8px 16px;
  justify-self: center;
  width: max-content;
  margin-top: 12px;
  font-weight: 600;
  color: #E9EDC9;
}

form#book-form 
fieldset button#submit:hover {
  text-shadow: 1px 1px 8px white;
}

form#book-form 
fieldset button#submit:active {
  border-color: #e6be96 #eedeb5 #eedeb5 #e6be96;
}

div.card {
  width: 280px;
  height: 350px;
  border: 3px solid #D4A373;
  box-shadow: 1px 1px 8px #d48434;
  border-radius: 18px;
  background-color: #FAEDCD;
  
  padding: 16px;
  display: grid;
  gap: 8px;
  grid-template-rows: repeat(3, auto) 1fr repeat(2, auto);
}

div.card
p.summary {
  font-family: 'type-writer', var(--baseFonts);
  font-size: 0.9rem;
  color: #383838;
}

div.card
p.status {
  font-size: 1.2rem;
  text-align: center;
  border: 2px solid #D4A373;
  border-radius: 8px;
  padding: 6px;
  cursor: pointer;
}

div.card
p.status:active {
  color: white;
}

div.card
p.status.finished {
  background-color: #E9EDC9;
}

div.card
p.status.reading {
  background-color: #f8e2a0;
}

div.card
p.status.unread {
  background-color: #d3d3d3;
}

div.card
p.status:hover {
  text-shadow: 1px 1px 10px rgb(0, 238, 255);
}

input[type="radio"] {
  vertical-align: -1.5px;
}

div.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

div.buttons img {
  width: 22px;
  border-radius: 100%;
  filter: invert(30%) sepia(38%) saturate(465%) hue-rotate(331deg) brightness(102%) contrast(82%);
}

div.buttons img:hover {
  filter: drop-shadow(0 0 2px white);
}

div.buttons img:active {
  box-shadow: 1px 1px 8px rgb(68, 56, 71);
  filter: invert(53%) sepia(8%) saturate(9%) hue-rotate(28deg) brightness(93%) contrast(85%);
}

div.buttons button:hover {
  appearance: none;
  text-shadow: 1px 1px 8px rgb(0, 0, 0);
}

section#modify{
  background-color: #CCD5AE;
}

section#notice {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  justify-items: center;
  background-color: rgba(255, 0, 0, 0.1);
}

section#notice
aside.notice {
  border: 3px solid #D4A373;
  box-shadow: 1px 1px 8px #d48434;
  border-radius: 18px;
  background-color: #FAEDCD;
  padding: 18px;
  color: red;
  font-size: 1.3rem;
  font-weight: 700;
  width: 200px;
}

footer.main {
  background-color: #D4A373;
  display: flex;
  padding: 10px;
}

footer.main
a {
  text-decoration: none;
  margin: auto;
}

footer.main a
img#github {
  width: 36px;
}

footer.main a
img#github:hover {
  border-radius: 50%;
  box-shadow: 1px 1px 10px white;
}

/* For the form and notice to be hidden on load */
section.form-container.hidden {
  opacity: 0;
}

section#notice.hidden {
  opacity: 0;
}